<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEex0A7ZTn1XM9WDwj7CFVuP-8IoaCLGM</string>
	<key>GCM_SENDER_ID</key>
	<string>260342823149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.app</string>
	<key>PROJECT_ID</key>
	<string>firebase-app-417207</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-app-417207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260342823149:ios:8cb1115878c66bfbc3f4e4</string>
</dict>
</plist>